<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8"/>
        <title>help</title>
        <link href="/img/weather.png" rel="icon"/>
        <link href="/css/styles.css" rel="stylesheet"/>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <h1>{{helpfulMsg}}</h1>
        </div>
        
        {{>footer}}
    </body>
</html>